body {
  margin: 0;
}

/* HOME PAGE STYLES */

nav {
  background-color: #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

nav a {
  font-size: 40px;
  text-decoration: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.web-logo {
  width: 5px;
}

.contact-link {
  color: white;
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 5px 20px;
}

.link-active {
  color: orangered;
  font-weight: bold;
}

.link {
  color: black;
}
