body {
  margin: 0px;
  background-color: rgb(226, 180, 180);
}

/*NAVBAR PAGE CSS*/

nav {
  background-color: #d4e049;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

nav a {
  font-size: 25px;
  text-decoration: none;
}

/*LINKS*/

.home-link {
  color: rgb(0, 0, 0);
}

.blog-link {
  color: rgb(255, 255, 255);
}

.contact-link {
  color: rgb(0, 0, 0);
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 5px 20px;
}

/* FORM CONTAINER */

.blog-form {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 500px;
}

.section-title {
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

.form-label {
  font-size: 20px;
  margin-top: 10px;
  gap: 80px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 10px;
}
